* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.fa-solid {
    display: none !important;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.title {
    width: 617px;
    font-family: 'Open Sans';
    font-style: italic;
    line-height: 72px;
    letter-spacing: 11px;
    margin: 0;
    font-size: 60px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 18px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.center {
    padding-left: calc(50% - 1250px / 2);
    padding-right: calc(50% - 1250px / 2);
}

.top {
    background: #F6F2F2;
    padding-top: 29px;
    padding-bottom: 110px;
}

.top__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 101px;
}

.top__info {
    width: 617px;
}

.top__video {
    width: 550px;
    height: 356px;
}

.top__text {
    width: 544px;
    margin-top: 36px;
    margin-bottom: 64px;
}

.header {
    background: #000000;
    opacity: 0.8;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu__link {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.49px;
    text-transform: uppercase;
    display: flex;
    color: #E0E0E0;
    padding: 38px 23px 26px;
}

.menu__link:hover {
    background: #FF3F40;
}

.menu__link_active {
    background: #FF3F40;
}

.button {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background-color: #ff2d2d;
}

.action_button {
    box-sizing: border-box;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    display: inline-block;
    width: 227px;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000;
}

.text_width_500 {
    width: 536px;
    margin: 28px auto 32px;
    text-align: center;
}

.text_width_750 {
    width: 750px;
}

.text__small {
    width: 450px;
}

.text__big {
    max-width: 650px;
}

.text_reverse {
    color: #ffffff;
}

.line {
    width: 132px;
    height: 5px;
    background-color: #FF2D2D;
    margin-top: 37px;
}

.product__line {
    margin: auto;
}

.heading {
    font-family: 'Open Sans';
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 42px;
    line-height: 55px;
    letter-spacing: 0, 38px;
    text-transform: uppercase;
}

.heading__center {
    text-align: center;
}

.heading_reverse {
    color: #ffffff;
    text-transform: none;
}

.service__button {
    font-size: 18px;
    color: #ff3f40;
    background-color: #ffffff;
    border: 2px solid #ff3f40;
    font-weight: 900;
}

.action-button {
    box-sizing: border-box;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    display: inline-block;
    width: 227px;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 80px;
}

.services {
    padding-top: 108px;
}

.section-heading {
    margin-top: 33px;
    margin-bottom: 13px;
}

.service__border {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    border-bottom: 5px solid #ececec;
    padding-bottom: 98px;
}

.services-box__content {
    width: 538px;
}

.services-box__info {
    width: 609px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 52px;
}

.service__item {
    flex-grow: 1;
    flex-basis: 290px;
}

.service__heading {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 10px;
}

.service__item:hover .service__img {
    transform: rotate(360deg);
}

.service__img {
    margin-bottom: 30px;
    transition: transform 3s;
}

.products {
    padding-top: 105px;
}

.products__link {
    font-style: italic;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.22px;
    text-transform: uppercase;
    color: #000000;
    transition: color .3s;
}

.products__link_active {
    color: #ff2d2d;
}

.products__link:hover {
    color: #ff2d2d;
}

.products__box {
    padding-top: 86px;
}

.products__links {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.products__items {
    margin-top: 58px;
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
}

.meet {
    margin-top: 132px;
    padding-left: calc(50% - 609px);
    padding-bottom: 115px;
}

.meet__text {
    margin-top: 34px;
    margin-bottom: 37px;
}

.meet__content {
    margin-top: 66px;
    display: flex;
    gap: 75px;
}

.meet__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 29px;
    margin-top: 16px;
}

.meet__links {
    display: flex;
    gap: 28px;
    margin-top: 45px;
    flex-wrap: wrap;
}

.meet__link {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.9px;
    color: #000000;
}

.meet__link:hover {
    text-decoration: underline;
}

.meet__person {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.meet__peoples {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin-top: 58px;
}

.meet_people {
    display: flex;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    overflow: hidden;
}

.meet_people:hover .meet__name-box {
    left: 0;
}

.meet__name-box {
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: -100%;
    transition: left 3s;
}

.meet__person-name {
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.165px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.subscribe {
    padding-top: 151px;
    padding-bottom: 140px;
    background: #2d2d2d;
}

.heading_reverse {
    color: #ffffff;
    text-transform: none;
}

.subscribe__text {
    margin-top: 16px;
    margin-bottom: 56px;
}

.subscribe__form {
    display: flex;
    gap: 22px;
    justify-content: center;
    align-items: stretch;
}

.subscribe__input {
    width: 524px;
    height: 82px;
    background-color: #fff;
    border-radius: 5px;
    outline: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #2C2C2C;
    padding-left: 36px;
    padding-right: 36px;
    box-sizing: border-box;
}

.subscribe__button {
    background: #ff2d2d;
    padding-left: 56px;
    padding-right: 56px;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.317px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    transition: all 0.3s;
    border: 2px solid transparent;
}

.subscribe__button:hover {
    background-color: #fff;
    color: #FF2D2D;
    border: 2px solid #FF2D2D;
}

.get {
    padding-top: 104px;
    padding-bottom: 107px;
    padding-left: calc(50% - 1250px / 2);
}

.get__text {
    margin-top: 45px;
    margin-bottom: 58px;
}

.get__form {
    width: 734px;
    display: grid;
    grid-row-gap: 43px;
    grid-column-gap: 52px;
    grid-template-columns: repeat(2, 1fr);
}

.get__input {
    height: 69px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
}

.get__input_textarea {
    height: 252px;
    padding-top: 32px;
    padding-bottom: 32px;
    outline: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    resize: none;
    grid-column: 1 / -1;
}

.get__content {
    display: flex;
    padding-top: 74px;
    gap: 104px;
    flex-wrap: wrap;
}

.get__contacts {
    background: #2d2d2d;
    padding-left: 81px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    flex-grow: 1;
}

.get__button {
    background: #ff3B3B;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.317px;
    text-transform: uppercase;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    height: 75px;
    grid-column: 1 / -1;
    border: 2px solid transparent;
    transition: all 0.3s;
}

.get__button:hover {
    background-color: #fff;
    color: #ff3B3B;
    border: 2px solid #ff3B3B;
}

.get__heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.317px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 32px;
}

.get__content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    width: 315px;
}

.footer {
    padding-top: 47px;
    padding-bottom: 31px;
    background: #313030;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #B8B8B8;
}

.footer__box {
    display: flex;
    gap: 18px;
}

.footer__icon {
    background-color: #fff;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transition: all .3s;
}

.footer__icon:hover {
    background-color: #FF2D2D;
}

path {
    transition: fill .3s;
}

.footer__icon:hover path {
    fill: white;
}

@media (max-width: 1024px) {

    .center,
    .products__items,
    .get {
        padding-left: calc(50% - 734px / 2);
        padding-right: calc(50% - 734px / 2);
    }

    .top__content {
        gap: 32px;
        justify-content: center;
    }

    .top__video {
        width: 100%;
    }

    .service__border {
        justify-content: center;
    }

    .products__items {
        justify-content: center;
    }

    .products__links {
        gap: 32px;
    }

    .products__link {
        font-size: 20px;
    }

    .meet__content {
        gap: 32px;
        align-items: flex-end;
    }

    .meet_people {
        width: 186px;
        height: 190px;
    }

    .text_width_750 {
        width: 100%;
    }

    .get {
        padding-bottom: 32px;
    }

    .get__content {
        gap: 32px;
    }

    .get__contacts {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

@media (max-width: 767px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        position: relative;
    }

    .fa-solid {
        display: var(--fa-display, inline-block) !important;
    }

    .fa-bars {
        margin-right: 32px;
    }

    .fa-xmark {
        position: absolute;
        top: 32px;
        right: 32px;
    }

    .header {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
    }

    .menu {
        flex-direction: column;
    }

    .menu__link_active {
        background: none;
    }

    .nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        transition: left .5s;
        background-color: #000000;
    }

    .title {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        width: 100%;
        letter-spacing: 1px;
    }

    .text {
        font-size: 14px;
        line-height: 24px;
    }

    .text_width_500,
    .text_width_750,
    .text__small {
        width: 100%;
    }

    .text__big {
        max-width: 100%;
    }

    .top__text {
        width: 100%;
    }

    .top__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top__video {
        height: 200px;
    }

    .service-box__content {
        width: 100%;
    }

    .heading {
        font-size: 32px;
        text-align: center;
    }

    .products__links {
        flex-wrap: wrap;
    }

    .products {
        padding-left: 16px;
        padding-right: 16px;
    }

    .meet__content {
        flex-direction: column;
        align-items: center;
    }

    .subscribe__form {
        flex-direction: column;
    }

    .subscribe__input {
        width: 100%;
        height: 62px;
    }

    .get__form {
        width: 100%;
        grid-row-gap: 24px;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
    }

    .get__text {
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
    }

    .get__contacts {
        padding-left: 32px;
        padding-right: 32px;
    }

    .get__line {
        margin: auto;
    }

    .get__content-text {
        width: 100%;
    }

    .meet_people {
        width: 146px;
        height: 160px;
    }

    .footer {
        flex-direction: column-reverse;
        gap: 16px;
    }

    .footer__text {
        text-align: center;
    }
}